@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header {
  display:flex;
  justify-content:space-between;
  padding:15px;
}

.header .left-links {
  display:flex;
  list-style-type:none;
  padding:0;
  margin:0;
  flex-basis:100px;
  justify-content:space-between;
}

.header .right-links {
  display:flex;
  list-style-type:none;
  padding:0;
  margin:0;
  flex-basis:120px;
  justify-content:space-between;
}

a {
  text-decoration:none;
  color:gray;
}

.flex-container {
  display:flex;
  flex-direction:column;
}

.content {
  display:flex;
  flex-direction:column;
  align-items:center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer {
  display:flex;
  justify-content:space-between;
  padding:15px;
}

.footer .left-links {
  display:flex;
  list-style-type:none;
  padding:0;
  margin:0;
  flex-basis:170px;
  justify-content:space-between;
}

.footer .right-links {
  display:flex;
  list-style-type:none;
  padding:0;
  margin:0;
  flex-basis:115px;
  justify-content:space-between;
}
