/* Add CSS Styling */
.odd {
  background-color: rgb(239, 150, 165);
  font-family:"Verdana","DejaVu Sans", sans-serif;
}

.odd.three {
  font-size:24px;
}

#secondElement {
  color:blue;
  font-size:36px;
}

.odd.three {
  font-size:24px;
}

#fourthElement {
  background:rgb(90, 200, 90);
  font-size:24px;
  font-weight:bold;
}