body {
  margin:0;
  display:flex;
  flex-direction:column;
  height:100vh;
}
/*Solution*/
.header {
  font-size:32px;
  font-weight:900;
  background-color:purple;
  color:white;
  padding:16px;
}

.container {
  flex:1;
  display:flex;
}

.sidebar {
  flex-basis:300px;
  flex-shrink:0;
  background-color:blue;
}

.sidebar ul {
  padding:0;
  padding:16px;
  list-style-type:none;
}

.sidebar ul li {
  margin-bottom:10px;
}

.sidebar a {
  color:white;
  font-size:24px;
  text-decoration:none;
}

